@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html { 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FAFFFD;
}

/* The navigation bar */
.navbar {
    margin: 0;
    overflow: hidden;
    background-color: #7C8483;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    /*box-shadow: 5px 5px rgba(0, 0, 0, 0.5);*/
}

/* Title inside navbar */
.title {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16   px;
    background-color: #454ADE;
    text-transform: uppercase;
    font-weight: 700;
}

/* Links inside the navbar */
.navbar a {
    margin: 0;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #7C8483;
    color: white;
}
  
/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    padding: 16px;
}

