@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
}

/* links */
p a:link {
    text-decoration: none;
    font-style: italic;
    color: #5d576b;
}

p a:visited {
    color: #5d576b;
}

p a:hover {
    color: white;
    background-color: #5d576b;
}

p a:active {
    background-color: black;
}

/* images */
img {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
