:root {
  /* Light mode */
  --background-color: #ffffff;
  --text-color: #000000;
  --accent-color: #000000;
  --border-color: #000000;
  --text-hover-color: rgba(0, 0, 0, 0.06);
  --link-visited-color: rgba(0, 0, 0, 0.6);

  --highlight-color: var(--accent-color);

  --archive-item-hover-color: rgba(0, 0, 0, 0.03);

  /* I don't remember what these were for */
  --svg-filter: invert(0%) sepia(5%) saturate(393%) hue-rotate(5deg)
    brightness(94%) contrast(87%);
  --image-light-dark: light;

  /* Fonts */
  --font-family-serif: ui-serif, Iowan Old Style, "Palatino Linotype", Palatino,
    Georgia, serif;
  --font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Arial, sans-serif;
  --font-family-monospace: "Nimbus Mono PS", "Courier New", monospace;
}

/* If user prefers dark mode */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #151515;
    --text-color: #f0f0f0;
    --text-hover-color: #36544e;

    --highlight-color: #8db5ab;

    --archive-item-hover-color: rgba(255, 255, 255, 0.03);

    --svg-filter: invert(99%) sepia(2%) saturate(2988%) hue-rotate(357deg)
      brightness(111%) contrast(105%);
    --image-light-dark: dark;
  }
}
*/
