---
import '../styles/main.css';
import StatusFooter from '../components/StatusFooter.astro';

interface Props {
	title?: string;
	description?: string;
	className?: string; // body class
}

const { title = 'MVP', description = 'Maximillian V. Phillips', className = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<!-- other html boilerplate -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="robots" content="index, follow" />

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3" />
		<link rel="icon" href="/favicon.ico?v=3" sizes="any" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=3" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png?v=3" />
		<link rel="manifest" href="/site.webmanifest?v=3" />
		<meta name="msapplication-TileColor" content="#333333" />
		<meta name="theme-color" content="#090909" />
	</head>
	<body class={className}>
		<slot />
		<StatusFooter />
	</body>
</html>
